<div id="wrapper"><!-- #wrapper -->

	<nav>
		<div class="menu">
			<ul>
				<li><a href="#">Home</a></li>
			</ul>
		</div>
	</nav>
	
	<header>
		<div id="tabuleiro-header"></div>
		<h1><a href="#">Resta 1 - Algoritmo Genético</a></h1>
		<p><strong>Resta um</strong> é um quebra-cabeça no qual o objetivo é, através de movimentos válidos, deixar apenas uma peça no tabuleiro.</p>
		<p><strong>A proposta</strong> deste trabalho é apresentar uma solução usando a algoritmo genético para este quebra-cabeça.</p>
	</header>
	
	<section id="main">
		<section id="content">
			
			<div id="tabuleiro-placeholder">
			</div>
			
			<section id="movimentos">
			</section>
		
		</section>

		<aside id="sidebar">
				
				<h3>Pontuação</h3>
					<div id="pontuacao">32</div><br /><br />

				<h3>Ações</h3>
					<ul>
						<li>
							<a id="reiniciar-btn" href="javascript:void(0);"
								title="Reinicia o jogo">Reiniciar</a>
						</li>
						<li>
							<a id="executar-sequencia-btn" href="javascript:void(0);" 
								title="Executa uma sequência de movimentos apartir do estado atual">Executar Sequência</a>
							<span id="executar-sequencia-tab">
								: <a id="executar-sequencia-sim-btn" href="javascript:void(0);">sim</a>
								| <a id="executar-sequencia-nao-btn" href="javascript:void(0);">não</a>
								<textarea id="sequencia-text"></textarea>
							</span>
						</li>
						<li>
							<a id="copiar-btn" href="javascript:void(0);" 
								title="Copia a lista de movimetos do estado atual para a área de transferência">Copiar Movimentos</a>
								<span id="copiar-tab">
									<textarea id="copiar-text"></textarea>
								</span>
						</li>
					</ul>

		</aside>

	</section>
	
		<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside class="footer-segment">
							<h4>Friends</h4>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside>

					<aside class="footer-segment">
							<h4>Awesome Stuff</h4>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside>

					<aside class="footer-segment">
							<h4>Coolness</h4>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside>
					
					<aside class="footer-segment">
							<h4>Blahdyblah</h4>
								<p>Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
					</aside>

			</section>

		</section>
	</footer>
	
</div>