svg {
    float: left;
    border: solid 3px #aaa;
    border-radius: 5px;
}

svg text {
	fill: #ccc;
	font-size: 0.8em;
	cursor:default;
}

svg text.score, svg text.solucoes, svg text.resetButton {
	fill: #999;
	font-size: 1em;
    stroke : grey;
    stroke-width : 1px;
}

svg text.resetButton {
    cursor: pointer;
}

svg text.resetButton:hover {
    stroke: green;
}


circle {
	stroke : grey;
	stroke-width : 3px;
	fill: brown;
}

circle.selected {
	fill: #900000;
	stroke : red;
}

circle.empty {
	fill: white;
}

circle.destination {
	fill: #E0FFE4;
	stroke : green;
}

#simulacaoNum, #solucoesNum, #inicioTempo, #fimTempo {
	margin-right: 30px;
}

div.bar {
	float: left;
	letter-spacing: 5px;
	word-wrap: break-word;
	width: 0;
	position: relative;
	left: 11px;	
	top: 4px;
    line-height: 16px;
}

div.bar a {
	color: #aaa;
	text-shadow: -1px -1px #333;
	text-decoration: none;
}

div.bar a:hover {
	font-weight: bold;
}

.candidato, .solucao {
	float: left;
	width: 134px;
}

.solucao svg {
    border-color: #BEDAB9;
    background-color: #BEDAB9;
}


#iniciaSimulacao:first-letter {text-decoration:underline}
#terminaSimulacao:first-letter {text-decoration:underline}
