svg {
    float: left;
    border: solid 3px #aaa;
    border-radius: 5px;
}

svg text {
	fill: #ccc;
	font-size: 0.8em;
	cursor:default;
}

svg text.score {
	fill: #999;
	font-size: 1em;
    stroke : grey;
    stroke-width : 1px;
}

circle {
	stroke : grey;
	stroke-width : 3px;
	fill: brown;
}

circle.selected {
	fill: #900000;
	stroke : red;
}

circle.empty {
	fill: white;
}

circle.destination {
	fill: #E0FFE4;
	stroke : green;
}